body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

header a {
    color: black;
}

header h1 {
    font-size: 20px;
    display: inline-block;
    margin: 30px 60px 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color:#212121;
    border-bottom: 2px solid #212121;
    padding-bottom: 1px;
}

header img {
    height: auto; 
    width: auto;  
    max-height: 31px;
    padding-top: 24px;
}
.nav-container {
    cursor: pointer;
    float: left;
    margin: 24px 0 0 32px;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #333;
     margin: 4px auto;
    transition: 0.4s;
}

.bar1-white, .bar2-white, .bar3-white {
    background-color: #FAFAFA;
}

.change .bar1 {
   -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
   -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.95);
    overflow-y: hidden;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
 
}

.overlay-content {
    position: relative;
    top: 37%;
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.overlay-content .box {
    background-color: transparent;
}

.overlay-content .box a {
    display: inline;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FAFAFA;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.box {
    width: 90%;
    margin: 5px;
    text-align: center;
    background-color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.box h1 {
    margin: 0;
    padding: 0;
    color: #FAFAFA;
}

.box h1:hover {
    text-decoration: line-through;
}


.container {
    width: 850px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;   
}

.text-container {
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article p {
    text-align: left;    
    font-size: 16px;
}

#project {
    display:block;
    overflow:auto;
}

#project .cell-full {
    margin: 25px 0 25px 0;
}

#project h1 {
    font-size: 28px;
    padding:56px; 
    font-weight:bold;
}

#project h1:hover{
    text-decoration: underline;
}

#portfolio {
    padding-top:40px;
}

#portfolio h2 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    overflow: visible;
    font-size: 68px;
    line-height: 20px;
    z-index: 10;
    text-align: left;
}

#portfolio h4 {
    padding-left:8px;
}

#portfolio h5 {
    padding-left:8px;
}

#projects {
    display:block;
    overflow:auto;
}

.cell-third {
    margin: 25px 0 25px 0;
    box-sizing: border-box;
    float: left;
    width: 33.3%;
}

.cell-third img {
    width: 100%;
    display: block;
}

.cell-half {
    position: relative;    
    box-sizing: border-box;
    float: left;
    width: 50%;
    overflow: hidden;
}

.cell-half img {
    width: 100%;
    display: block;
    position: sticky;    
    z-index: -1;
    animation: fade-In 0.6s ease-out;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cell-half:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
     -o-transform: scale(1:1); /* old opera */
     -ms-transform: scale(1:1); /* old IE */
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.cell-half:hover .project-overlay {
    width: 65%;
}

.cell-full {
    position: relative;        
    box-sizing: border-box;
    float: left;
    width: 100%;
    overflow: hidden;
}

.cell-full img {
    width: 100%;
    display: block;
    animation: fade-In 0.6s ease-out;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cell-full:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1:1); /* old opera */
     -ms-transform: scale(1:1); /* old IE */
    transform: scale(1.1);
     transform-origin: 50% 50%;
}

.cell-full:hover .project-overlay {
    width: 35%;
}

.project-overlay {
    position: absolute;
    top:70%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.85;    
    overflow: hidden;
    width: 0;
    height: 20%;
    transition: .5s cubic-bezier(0.39, 0.46, 0.22, 1.4);

}

.project-overlay .text {
    white-space: nowrap;    
    text-align: left;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.project-overlay .text h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.project-overlay .text h5 {
    margin: 0;
    padding: 0;    
    font-size: 12px;
}

#about-contact {
    height: 400px;
    margin-top: 275px;
    display:block;
    overflow:auto;
}

#about-contact a {
    text-decoration: none;
    color: white;
}

#about-contact h1:hover {
    text-decoration: underline;
}

#about {
    padding: 50px;
    border: 5px solid black;
    border-right: none;
    height: 100%;
}

#about h1 {
    font-size: 56px;
    margin: 0;
    text-align: left
}

#about p {
    margin: 0;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0px;
}

#contact {
    padding: 50px;
    border: 5px solid black;
    border-right: solid 5px black !important;
    height: 100%;
}

#contact h1 {
    margin: 0;    
    font-size: 56px;
    text-align: left
}

#social {
    padding: 0;
    background-color: black;
}

#social li {
    display: inline;
    margin: 0 5px 0 5px;
    font-size: 16px;
}

#contact p {
    background-color: black;
    color:white;
    font-size: 16px;
}

#contact p:hover{
    text-decoration: underline;
}

#social li:hover{
    text-decoration: underline;
}

footer {
    margin-top: 4%;
}

footer p {
    text-align: right;
    font-size: 12px;
    padding-right: 10px;
}

.noanimation > img {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}


@media only screen and (max-width: 485px) {
    header h1 {
        font-size: 14px;
    }  
    .cell-half {
        width: 100%;
    }

    .text-container {
        height: 70vh;
    }

    #portfolio h2 {
        font-size: 66px;
    }
    .overlay-content {
        top: 32vh;
        width: 50%;
    }
    .overlay-content .box {
        width: 100%;
        margin: 0;     
    }
    .overlay-content .box a {
        font-size: 28px;        
    }
    article p {
        text-align: left;    
        font-size: 15.75px;
        margin: 0 10px 0 10px;
    }
    #about-contact {
        margin-top: 275px;
        display: block;
        overflow: auto;
        height: auto;
    }
    #about {
        padding: 20px 50px 50px 50px;
        border: 5px solid black;
        border-bottom: none;
        height: 400px;
    }
    #contact {
        padding: 50px;
        border: 5px solid black;
        height: 400px;
    }
    footer p {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: auto;
    }
}


@media screen and (min-width: 1400px) {
    .container {
        width: 850px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 850px;
    }
}
@media screen and (min-width: 1900px) {
    .container {
        width: 1000px;
    }
}
.hyperlink{
    font-weight: bold;
    text-decoration: underline;
    color: black;
}